<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>NASRI OMAR CRUD Application</title>
	<meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="ApplicationCRUD.js"></script>
    <script src="CRUDnodejs.js"></script>
    <script src="Services/IndexServices.js"></script>
    <script src="Controllers/indexCtrl.js"></script>
</head>
<body ng-app="MyAppCrud" ng-controller="indexController">
    <div id="wrapper">

        <div class="modal  fade"  id="myModalFormAddPerson" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="IdModalTitle"> Add New Person</h4>
                    </div>
                    <div class="modal-body">
                        <!--Formulaire-->
                        <form name="myform"  class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" required>first Name</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="master.firstname" class="form-control" placeholder="enter first Name" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">last Name</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="master.lastname" class="form-control" placeholder="enter last Name" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Zip code</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="master.adress.zipcode" class="form-control" placeholder="enter zip code" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">country</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="master.adress.country" class="form-control" placeholder="enter country" ng-required="true" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button ng-click="myform.$valid && AddNewPerson(master)" class="btn btn-primary">Validate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <center><h3>Sample CRUD application using AngularJS, NodeJs and MongoDb</h3></center>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalFormAddPerson">Add Person</button>
                </div>
                <div class="row">
                    <table class="table table-responsive">
                        <thead>
                            <tr><th>First Name</th><th>Last Name</th><th>Address</th></tr>
                        </thead>
                        <tbody ng-repeat="elem in listPerson">
                            <tr>
                                <td  class="col-lg-2"><input type="text" ng-model="elem.firstname" /></td>
                                <td class="col-lg-2"><input type="text" ng-model="elem.lastname"  /></td>
                                <td class="col-lg-6">Zip code : <input type="text" ng-model="elem.adress.zipcode" />  Country : <input type="text" ng-model="elem.adress.country" /></td>
                                <td class="col-lg-2"><a href="#" ng-click="Edit(elem)"><span class="glyphicon glyphicon-edit"></span> save</a>   <a href="#" ng-click="Remove(elem._id)"><span class="glyphicon glyphicon-remove"></span> Remove</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-offset-2"></div>
        </div>
    </div>
</body>
</html>
